.avatar {
  width: 3rem;
  height: 3rem;  
  border-radius: 8px;
}


.avatarWithBorder {
  /* 
  
    box-sizing: initial; 
    faz o oposto do boder-box, a bordar que colocamos espremeu a imagem e ela ficou menor, para reveter usamos isso 
    mas também podemos fazer um calculo pegamos o tamanho da imagem que queremos, no caso 3rem e somar o tanto de borda que temos seria 4 + 4 + 2 + 2

  */

  width: calc(3rem + 12px);
  height: calc(3rem + 12px);  
  border-radius: 8px;

  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}